{% extends "chat/base.html" %}

{% block body %}
    {% if not user.is_authenticated %}
        <form action="/sign-up/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% else %}
        You are logged as {{ user.username }}. Go back to <a href="/">chat</a>
    {% endif %}
{% endblock %}